#bjax-target{
    .loaded{
    }
    .loading{
        display: none;
    }
    .pagination{
        li.first,li.last{
        }
        @media (max-width: 767px){
            width: 100%;
            li{
                display: none;
            }
            li.nextPageLi,li.prePageLi,li.first,li.last{
                display: inline-block;
                text-align: center;
                width: 25%;
                a{
                    width: 100%;
                }
            }
        }
    }
    .padder-lg{
        @media (max-width: 767px){
            padding-bottom: 60px;
        }
    }
}