#audioDiv{
    @media (max-width: 767px){
        position: fixed;
        width: 100%;
        z-index: 999;
        bottom: 0px;   
    }
    //播放顺序控制处理
    .myjptoogles{
        .listloop{
            .myjp-listloop{
                display: inline-block;
            }
            .myjp-listshuffle{
                display: none;
            }
            .myjp-singleloop{
                display: none;
            }
        }
        .singleloop{
            .myjp-listloop{
                display: none;
            }
            .myjp-listshuffle{
                display: none;
            }
            .myjp-singleloop{
                display: inline-block;
            }
        }
        .listshuffle{
            .myjp-listloop{
                display: none;
            }
            .myjp-listshuffle{
                display: inline-block;
            }
            .myjp-singleloop{
                display: none;
            }
        }
    }
    .audio{
        .myjpview{
            display: none;
        }
        .myjpfullscreen{
            display: none;
        }
    }
    .pv{
       .myjpview{
            padding: 30px;
            padding-top: 60px;
            width: 100%;
            height: auto;
            #jplayer_N{
                margin: 0 auto;
                width: auto !important;
                max-width: 1024px;
                height: auto !important;
                video{
                    width: 100% !important;
                    height: auto !important;
                }
                img{
                    display: none !important;
                }
            }
        }
        .myjpfullscreen{
            display:none;
        }
    }
}